<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login - Laundry Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='laundry.js') }}"></script>
</head>
<body>
    <header class="top-bar">
        <div class="logo"><img src="{{ url_for('static', filename='logo.png') }}" alt="Laundry family"> Anchor University - Laundry Venture</div>
        <div class="contact-info">
            <p>Hours: MON - SAT 8:00 am - 9:00 pm</p>
            <p>Email: info@aul.edu.ng</p>
            <a href="tel:+2347070679063" class="call-btn">Call (+234) 707 067 9063</a>
        </div>
    </header>
<nav>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="{{ url_for('service') }}">Services</a>
        <a href="{{ url_for('price') }}">Pricing</a>
        <a href="#">Book Online</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('register') }}" class="bin primary">Sign Up</a>
    </nav>
    <div class="menu-toggle">☰</div>
</nav>
    <section class="regis">
        <h2 class="reg">Login</h2>
        <form method="POST">
                    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <input type="email" name="email" placeholder="E-mail" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit" class="btn-primary">Login</button>
        </form>
        <div class="tin"><a href="{{ url_for('register') }}" >Don't have an account? Sign Up</a></div>
    </section>

    <footer>
        <p>&copy; 2025 Laundry Service. All rights reserved.</p>
    </footer>

    <script>
        const navbar = document.querySelector('.navbar');
        const menuToggle = document.querySelector('.menu-toggle');

        menuToggle.addEventListener('click', () => {
            navbar.classList.toggle('open');
        });
    </script>
</body>
</html>
